{% load i18n %}

{#<h4>{% trans 'Queries' %}</h4>#}
{% if queries %}
    <table>
        <thead>
            <tr>
                <th>{% trans "Query String" %}</th>
                <th>{% trans "Additional Args" %}</th>
                <th>{% trans "Additional Kwargs" %}</th>
                <th>{% trans "Time (ms)" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for query in queries %}
                <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
                    <td>{{ query.query_string }}</td>
                    <td>{% if query.additional_args %}<code>{{ query.additional_args|pprint }}</code>{% endif %}</td>
                    <td>{% if query.additional_kwargs %}<code>{{ query.additional_kwargs|pprint }}</code>{% endif %}</td>
                    <td>
                        <span title="{% if query.start %}start: {{query.start|floatformat:"-3"}} end: {{query.stop|floatformat:"-3"}}{% endif %}">{{ query.time|floatformat:"3" }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if debug %}
        <p>No Haystack queries were recorded during this request.</p>
    {% else %}
        <p style="padding: 10px 15px;">
            <code style="display: inline;">DEBUG</code> is set to <code style="display: inline;">False</code>. This means
            that Haystack query logging is disabled.
        </p>
    {% endif %}
{% endif %}
